.container8 .right-side-container img{
    width: 35vw;
    height: 100%;
}
.container8{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 3rem;
    background-color: #f2f2f2;
}
.container8 .left-side-container #family{
    font-weight: 550;
    color: #000;
    line-height: 1.19;
    font-size: 2.8rem;
}
.container8 .left-side-container p{
    font-size: 1.5rem;
    color: #2c2c2c;
}
.container8 .left-side-container img{
    width: 4rem;
    height: 3rem;
}
.container8 .right-side-container{
    text-align: right;
}
.container8 .left-side-container button{
    padding: 0.5rem 1.6rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
}
.container8 .left-side-container button a{
    font-size: 1rem;
}

@media screen and (max-width:767px){
    .container8 .right-side-container img{
        width: 60vw;
        height: 100%;
    }
    .container8{
        display: flex;
        flex-direction: column;
    }
}