.container7 .left-side-container video{
    width: 30vw;
    height: 90%;
}
.container7{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 3rem;
}
.container7 .right-side-container #emi{
    font-weight: 550;
    color: #000;
    line-height: 1.19;
    font-size: 2.8rem;
}
.container7 .right-side-container p{
    font-size: 1.5rem;
    color: #2c2c2c;
}
.container7 .right-side-container img{
    width: 4rem;
    height: 8rem;
}
.container7 .right-side-container{
    text-align: right;
}


@media screen and (max-width:767px){
    .container7 .left-side-container video{
        width: 60vw;
        height: 100%;
    }
    .container7{
        display: flex;
        flex-direction: column;
    }
}