.container5 .left-side-container video{
    width: 35vw;
    height: 100%;
}
.container5{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 3rem;
    /* background-color: #e8e8e8; */
}
.container5 .right-side-container #kyc{
    font-weight: 550;
    color: #000;
    line-height: 1.19;
    font-size: 4rem;
}
.container5 .right-side-container p{
    font-size: 1.5rem;
    color: #2c2c2c;
}
.container5 .right-side-container img{
    width: 4rem;
    height: 8rem;
}
.container5 .right-side-container{
    text-align: right;
}


@media screen and (max-width:767px){
    .container5 .left-side-container video{
        width: 60vw;
        height: 100%;
    }
    .container5{
        display: flex;
        flex-direction: column;
    }
}